<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'Send Update' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>{{ 'Send Update' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ 'Update the office with your status below' | translate }}</p>
      <div class="ion-padding"></div>
  <div class="ion-padding"></div>
  <div *ngIf="notifications$ | async as notifications">
    <ion-item>
      <ion-label position="floating">{{ 'Status' | translate }}</ion-label>

      <ion-select [(ngModel)]="notificationStatus" interface="popover">
        <ion-select-option *ngFor="let notification of notifications.referenceValueItems" [value]="notification.value">{{ notification.display }} </ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="ion-padding"></div>
  <div class="ion-padding"></div>
  <div class="ion-padding">
    <ion-button (click)="sendUpdate()" [disabled]="!notificationStatus" size="large" type="submit" expand="block" color="primary">
      <ion-icon slot="start" name="send"></ion-icon>
      {{ 'Send Status' | translate }}
    </ion-button>
  </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>
