<ion-card>
    <ion-card-content *ngIf="workItem$ | async as workItem">
      <ion-list>
        <ion-item>
          <ion-label>Work Order No</ion-label>
          <ion-label class="ion-text-wrap" slot="end">{{ workItem.WorkOrderNo }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Date Planned</ion-label>
          <ion-label class="ion-text-wrap" slot="end">{{ workItem.DatePlanned | ngsDateTime }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Survey Comment</ion-label>
          <ion-label class="ion-text-wrap">{{ workItem.SurveyComment }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Status</ion-label>
          <ion-label class="ion-text-wrap" slot="end">{{ workItem.WorkItemStatusCodeID | lookup: 'FieldForce.StatusCodes.Reference' | async }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Client</ion-label>
          <ion-label class="ion-text-wrap" slot="end">{{ workItem.ClientID | lookup: 'FieldForce.Clients.Reference' | async }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Priority</ion-label>
          <ion-label class="ion-text-wrap" slot="end">{{ workItem.WorkItemPriorityID | lookup: 'FieldForce.Priorities.Reference' | async }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Type</ion-label>
          <ion-label class="ion-text-wrap" slot="end">{{ workItem.WorkItemTypeID | lookup: 'FieldForce.WorkItems.Types' | async }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Subtype</ion-label>
          <ion-label class="ion-text-wrap" slot="end">{{ workItem.WorkItemSubTypeID | lookup: 'FieldForce.WorkItems.SubTypes' | async }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
