<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'WorkItem Detail' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <super-tabs>
    <super-tabs-container>
      <super-tab>
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Work Order No</ion-label>
                <ion-label slot="end">{{ workItem.WorkOrderNo }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Date Planned</ion-label>
                <ion-label slot="end">{{ workItem.DatePlanned | date }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Survey Comment</ion-label>
                <ion-label class="ion-text-wrap">{{ workItem.SurveyComment }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Status</ion-label>
                <ion-label slot="end">{{ workItem.WorkItemStatusCodeID | lookup: 'FieldForce.StatusCodes.Reference' | async }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Client</ion-label>
                <ion-label slot="end">{{ workItem.ClientID | lookup: 'FieldForce.Clients.Reference' | async }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Priority</ion-label>
                <ion-label slot="end">{{ workItem.WorkItemPriorityID | lookup: 'FieldForce.Priorities.Reference' | async }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Type</ion-label>
                <ion-label slot="end">{{ workItem.WorkItemTypeID | lookup: 'FieldForce.WorkItems.Types' | async }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Subtype</ion-label>
                <ion-label slot="end">{{ workItem.WorkItemSubTypeID | lookup: 'FieldForce.WorkItems.SubTypes' | async }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </super-tab>
      <super-tab>

        <!-- Serial Number Here -->
        <ion-searchbar (ionChange)="updateFilter(filterValue)" [(ngModel)]="filterValue" showCancelButton="focus"></ion-searchbar>

        <ion-button *ngIf="selectedAsset" (click)="sendAsset()" expand="block" color="primary">
          <ion-icon name="send"></ion-icon>
          {{ 'Send Update' | translate }}
        </ion-button>

        <ion-radio-group [(ngModel)]="selectedAsset">
          <ion-list-header>
            <ion-label>{{ 'Shipped Assets' | translate }}</ion-label>
          </ion-list-header>

          <ion-item *ngFor="let asset of shippedAssets">
            <ion-label>{{ asset.display }}</ion-label>
            <ion-radio slot="start" [value]="asset.value"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </super-tab>
      <super-tab>
        <ion-card>
          <ion-card-content>
            <div class="ion-padding"></div>
            <div *ngIf="updateStages$ | async as updateStages">
              <ion-item>
                <ion-label position="floating">{{ 'Status' | translate }}</ion-label>

                <ion-select [(ngModel)]="updateStatus" (ionChange)="statusChanged()" interface="popover">
                  <ion-select-option *ngFor="let notification of updateStages.referenceValueItems" [value]="notification.value">{{ notification.display }} </ion-select-option>
                </ion-select>
              </ion-item>
              <div class="ion-padding"></div>
              <ion-item *ngIf="updateCodes">
                <ion-label position="floating">{{ 'Update Code' | translate }}</ion-label>

                <ion-select [(ngModel)]="updateStatus2" interface="popover">
                  <ion-select-option *ngFor="let notification of updateCodes" [value]="notification.value">{{ notification.display }} </ion-select-option>
                </ion-select>
              </ion-item>

              <div class="ion-padding"></div>

              <ion-item *ngIf="updateStatus2">
                <ion-textarea [(ngModel)]="updateComment" placeholder="{{ 'Comments ...' | translate }}"></ion-textarea>
              </ion-item>

              <div class="ion-padding"></div>
              <div class="ion-padding"></div>

              <ion-button size="large" *ngIf="updateStatus2" (click)="sendUpdate()" routerDirection="forward" type="submit" expand="block" color="primary">
                <ion-icon name="send"></ion-icon>
                {{ 'Send Update' | translate }}
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </super-tab>
    </super-tabs-container>
    <super-tabs-toolbar>
      <!-- Listen to click events on any tab button -->
      <super-tab-button>
        <ion-label>{{ 'Details' | translate }}</ion-label>
        <ion-icon name="clipboard"></ion-icon>
      </super-tab-button>
      <super-tab-button>
        <ion-label>{{ 'Record' | translate }}</ion-label>
        <ion-icon name="create"></ion-icon>
      </super-tab-button>
      <super-tab-button>
        <ion-label>{{ 'Update' | translate }}</ion-label>
        <ion-icon name="mail"></ion-icon>
      </super-tab-button>
    </super-tabs-toolbar>
  </super-tabs>
</ion-content>
