<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'WorkItem Detail' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom" color="primary">
          <ion-tab-button tab="details">
            <ion-icon name="clipboard"></ion-icon>
            <ion-label>{{ 'Details' | translate }}</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="record">
            <ion-icon name="create"></ion-icon>
            <ion-label>{{ 'Record' | translate }}</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="update">
            <ion-icon name="mail"></ion-icon>
            <ion-label>{{ 'Update' | translate }}</ion-label>
          </ion-tab-button>
      
        </ion-tab-bar>
      </ion-tabs>
      
     
</ion-content>
