<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'FieldForce Support' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ 'Support' | translate }}</ion-card-subtitle>
      <ion-card-title>{{ 'FieldForce' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p></p>
      <ion-list lines="none">
        <ion-list-header>
          <ion-label>
            <h2>{{ 'Options' | translate }}</h2>
          </ion-label>
        </ion-list-header>
      </ion-list>
      <div class="ion-padding">
        <ion-button size="large" (click)="clearCache()" expand="block" color="primary">
          <ion-icon slot="start" name="close"></ion-icon>
          {{ 'Clear Cache' | translate }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
