<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{'Menu' | translate}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <div *ngFor="let menuItem of menuItems">
 
              <!-- Standard Menu Item -->
              <ion-menu-toggle *ngIf="menuItem.routerLink">
                <ion-item [routerLink]="menuItem.routerLink" routerDirection="root" routerLinkActive="active">
                  <ion-icon [name]="menuItem.icon" slot="start"></ion-icon>
                  <ion-label>
                    {{ menuItem.label }}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
              <!-- Item with Children -->
         
              <ion-item button *ngIf="menuItem.items?.length > 0" (click)="expand(menuItem)" [class.parent-active]="menuItem.expanded" detail="false">
                <ion-icon slot="start" name="arrow-forward" *ngIf="!menuItem.expanded"></ion-icon>
                <ion-icon slot="start" name="arrow-down" *ngIf="menuItem.expanded"></ion-icon>
                <ion-label>{{ menuItem.label }}</ion-label>
              </ion-item>
         
              <!-- Children List for clicked Item -->
              <ion-list *ngIf="menuItem.expanded">
                <ion-menu-toggle>
                  <ion-item *ngFor="let sub of menuItem.items" class="sub-item" [routerLink]="sub.routerLink" routerDirection="root"
                    routerLinkActive="active">
                    <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                    <ion-label>
                      {{ sub.label }}
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
            </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
