<ion-card>
  <ion-card-header>
    Assign Asset
  </ion-card-header>
  <ion-card-content>
    <ion-searchbar (ionChange)="updateFilter(filterValue)" [(ngModel)]="filterValue" showCancelButton="focus"></ion-searchbar>

    <ion-button size="large"  *ngIf="selectedAsset" (click)="sendAsset()" expand="block" color="primary">
      <ion-icon name="send"></ion-icon>
      {{ 'Send Update' | translate }}
    </ion-button>

    <ion-radio-group [(ngModel)]="selectedAsset">
      <ion-list-header>
        <ion-label>{{ 'Shipped Assets' | translate }}</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let asset of shippedAssets">
        <ion-label>{{ asset.display }}</ion-label>
        <ion-radio slot="start" [value]="asset.value"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-card-content>
</ion-card>
