<ion-list lines="none">
<form novalidate *ngIf="formBuilt && inputBuilderDefinition && inputBuilderDefinition.inputDetails" (ngSubmit)="onSubmit(form)" [formGroup]="form">
  <div [className]="controlStyle" *ngFor="let input of inputBuilderDefinition.inputDetails">
    <div [ngSwitch]="input.type" [className]="getContainerClass(input)">
      
        <!-- null === Blank -->
      <ion-item *ngSwitchCase="'null'" class="md-inputfield"> </ion-item>

      <!-- textbox -->
      <ion-item *ngSwitchCase="'textbox'" class="md-inputfield">
        <ion-input class="textInput" type="text" [formControlName]="input.name" [id]="input.name"></ion-input>
        <ion-label position="floating">{{ getLabel(input) }}</ion-label>
      </ion-item>

      <!-- password -->
      <ion-item *ngSwitchCase="'password'" class="md-inputfield">
        <ion-input class="textInput" type="password" [formControlName]="input.name" [id]="input.name"></ion-input>
        <ion-label position="floating">{{ getLabel(input) }}</ion-label>
      </ion-item>

      <!-- email -->
      <ion-item *ngSwitchCase="'email'" class="md-inputfield">
        <ion-input class="textInput" type="email" [formControlName]="input.name" [id]="input.name"></ion-input>
        <ion-label position="floating">{{ getLabel(input) }}</ion-label>
      </ion-item>

      <!-- slider -->
      <ion-item *ngSwitchCase="'slider'" class="md-inputfield">
        <!-- <p-slider [formControlName]="input.name" [id]="input.name" [min]="input.min" [max]="input.max" [step]="input.step"></p-slider> -->
        <ion-label position="floating">{{ getLabel(input) }}</ion-label>
      </ion-item>

      <!-- Spinner -->
      <ion-item *ngSwitchCase="'spinner'">
        <!-- <p-spinner [id]="input.name" [min]="input.min" [max]="input.max" [formControl]="form.controls[input.name]"></p-spinner> -->
        <ion-label position="floating">{{ getLabel(input) }}</ion-label>
      </ion-item>

      <!-- TextArea -->
      <ion-item *ngSwitchCase="'textarea'" class="md-inputfield">
        <textarea class="textInput" [disabled]="input.readonly" [rows]="input.rows" [placeholder]="input.label" area [formControlName]="input.name"></textarea>
      </ion-item>

      <!-- Checkbox -->
      <ion-item *ngSwitchCase="'checkbox'">
        <!-- <p-checkbox binary="true" [label]="input.label" [disabled]="input.readonly" [id]="input.name" [formControl]="form.controls[input.name]"> </p-checkbox> -->
      </ion-item>

      <!-- Simple DropDown -->
      <ion-item *ngSwitchCase="'dropdown'">
        <ion-label class="small-label">{{ getLabel(input) }}</ion-label>
        <!-- <p-dropdown appendTo="body" class="dropdownInput" [id]="input.name" [options]="dataSourceLookup[input.name]" [autoWidth]="false" [filter]="input.selectFilter" dataKey="value" optionLabel="display" [formControlName]="input.name"></p-dropdown> -->
      </ion-item>

      <!-- DropDown Returns Object -->
      <ion-item *ngSwitchCase="'dropdownobject'">
        <ion-label class="small-label">{{ getLabel(input) }}</ion-label>
        <!-- <p-dropdown appendTo="body" class="dropdownInput" [id]="input.name" [options]="dataSourceLookup[input.name]" [autoWidth]="false" [filter]="input.selectFilter" optionLabel="display" [formControlName]="input.name"></p-dropdown> -->
      </ion-item>

      <!-- InputSwitch -->
      <ion-item *ngSwitchCase="'switch'">
        <!-- <p-inputSwitch [id]="input.name" [formControlName]="input.name"> </p-inputSwitch> -->
        <ion-label class="switch-label">{{ getLabel(input) }}</ion-label>
      </ion-item>

      <!-- DateTime -->
      <ion-item *ngSwitchCase="'datetime'" class="md-inputfield">
        <!-- <p-calendar appendTo="body" [disabled]="input.readonly" [showIcon]="appSettings.getBoolean('inputShowCalendarIcon') | async" [dateFormat]="appSettings.getString('inputDateFormat') | async" showTime="true" hourFormat="24" [formControlName]="input.name" [id]="input.name"> -->
        <!-- </p-calendar> -->
        <ion-label position="floating">{{ getLabel(input) }}</ion-label>
      </ion-item>

      <!-- DateTime UTC -->
      <ion-item *ngSwitchCase="'datetimeUTC'" class="md-inputfield">
        <!-- <p-calendar appendTo="body" [disabled]="input.readonly" [showIcon]="appSettings.getBoolean('inputShowCalendarIcon') | async" [dateFormat]="appSettings.getString('inputDateFormat') | async" showTime="true" hourFormat="24" [formControlName]="input.name" [id]="input.name"> -->
        <!-- </p-calendar> -->
        <ion-label position="floating">{{ getLabel(input) }}</ion-label>
      </ion-item>

      <!-- Date -->
      <ion-item *ngSwitchCase="'date'" class="md-inputfield">
        <!-- <p-calendar appendTo="body" [disabled]="input.readonly" [showIcon]="appSettings.getBoolean('inputShowCalendarIcon') | async" [dateFormat]="appSettings.getString('inputDateFormat') | async" [formControlName]="input.name" [id]="input.name"> </p-calendar> -->
        <ion-label position="floating">{{ getLabel(input) }}</ion-label>
      </ion-item>

      <!-- Time -->
      <ion-item *ngSwitchCase="'time'" class="md-inputfield">
        <!-- <p-calendar appendTo="body" [disabled]="input.readonly" timeOnly="true" showTime="true" hourFormat="24" [showIcon]="appSettings.getBoolean('inputShowCalendarIcon') | async" [formControlName]="input.name" [id]="input.name"> </p-calendar> -->
        <ion-label position="floating">{{ getLabel(input) }}</ion-label>
      </ion-item>

      <!-- File Attachment -->
      <ion-item *ngSwitchCase="'fileattach'" class="md-inputfield">
        <!-- <p-fileUpload customUpload="true" [accept]="input.accept" [maxFileSize]="input.maxFileSize" chooseLabel="{{ 'Choose File' | translate }}" auto="true" (uploadHandler)="attachFiles($event)"></p-fileUpload> -->
      </ion-item>

      <!-- DEFUALT textbox -->
      <ion-item *ngSwitchDefault class="md-inputfield">
        <ion-input type="text" [formControlName]="input.name" [id]="input.name" ></ion-input>
        <ion-label position="floating">{{ getLabel(input) }}</ion-label>
      </ion-item>
    </div>

    <!-- Help text here -->
    <ion-item *ngIf="input.help" class="ui-g-1">
      <!-- <i class="fa ui-icon-info helpIcon" pTooltip="{{ input.help }}" tooltipPosition="bottom"></i> -->
    </ion-item>

    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.get(input.name)?.invalid && (form.get(input.name)?.dirty || form.get(input.name)?.touched || formSubmitted)">
      <div *ngIf="form.get(input.name).errors.required">
        {{ input.validateRequired }}
      </div>
      <div *ngIf="form.get(input.name).errors.requiredTrue">
        {{ input.validateRequiredTrue }}
      </div>
      <div *ngIf="form.get(input.name).errors.email">
        {{ input.validateEmail }}
      </div>
      <div *ngIf="form.get(input.name).errors.pattern">
        {{ input.validatePatternMessage }}
      </div>
      <div *ngIf="form.get(input.name).errors.minlength">
        {{ input.validateMinLengthMessage }}
      </div>
      <div *ngIf="form.get(input.name).errors.maxlength">
        {{ input.validateMaxLengthMessage }}
      </div>
    </div>
  </div>
  <!-- [className]="controlStyle" -->
  <div class="button-line" class="ui-g-12" *ngIf="inputBuilderDefinition.customButtonText || inputBuilderDefinition.cancelButtonText || inputBuilderDefinition.okButtonText">
    <div class="button-container ui-g-4" *ngIf="inputBuilderDefinition.customButtonText">
      <!-- <button type="button" (click)="onCustom()" class="ui-button-info" icon="{{ inputBuilderDefinition.customButtonIcon }}" iconPos="left" label="{{ inputBuilderDefinition.customButtonText }}"></button> -->
    </div>
    <div class="button-container ui-g-4" *ngIf="inputBuilderDefinition.cancelButtonText">
      <!-- <button type="button" (click)="onCancel()" class="ui-button-warning" icon="{{ inputBuilderDefinition.cancelButtonIcon }}" iconPos="left" label="{{ inputBuilderDefinition.cancelButtonText }}"></button> -->
    </div>
    <div class="button-container ui-g-4" *ngIf="inputBuilderDefinition.okButtonText">
      <!-- <button type="submit" class="ui-button-success" icon="{{ inputBuilderDefinition.okButtonIcon }}" iconPos="left" label="{{ inputBuilderDefinition.okButtonText }}"></button> -->
    </div>
  </div>
</form>
</ion-list>